

/*
electricBlue: #00DFFC
lightBlue: #00B4CC
mediumBlue: #008C9E
darkBlue: #005F6B
asphalt: #343838
*/


body {
    min-height: 100vh;
}

.SlickerPicker-wrapper {
    /*font-size: 75%;*/
    font-family: sans-serif;
    background: #e0e0e0;
    padding: 0.2em;
}

.SlickerPicker-table {
    /*border-collapse: collapse;*/
}

.SlickerPicker-table th {
    font-size: 75%;
    text-align: center;
}

.SlickerPicker-table td {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: #f4f4f4;
    color: #343838;
    cursor: pointer;
}